/*.classpath
/.idea/*.name
/.idea/artifacts/*.xml
/.idea/*.xml
/.idea/copyright/*.xml
/.idea/dictionaries/*.xml
/.idea/libraries/*.xml
/.idea/scopes/*.xml
/*.project
/.settings/*.jsdtscope
/.settings/*.prefs
/.settings/*.component
/.settings/*.xml
/.settings/*.container
/.settings/*.name
/${logpath}/*.log
/*.iml
/${dbFile}
/target
