<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">
       
	<context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true"/>
    <context:component-scan base-package="cn.thextrader.monitor" />
    <context:annotation-config/>
    <!-- 调度业务 -->
    <aop:config proxy-target-class="true"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	<!-- redis连接池的配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
      <property name="maxIdle" value="${redis.pool.maxIdle}"/>
      <property name="minIdle" value="${redis.pool.minIdle}"/>
    </bean>
    
    <!-- redis的连接池pool，不是必选项：timeout/password  -->
    <bean id = "jedisPool" class="redis.clients.jedis.JedisPool">
      <constructor-arg index="0" ref="jedisPoolConfig"/>
      <constructor-arg index="1" value="${redis.server.ip}" type="java.lang.String"/>
      <constructor-arg index="2" value="${redis.server.port}" type="int"/>
    </bean>

    <bean id="springContextUtils" class="cn.thextrader.monitor.SpringContextUtils" />

    <bean id="jmxConnectionHandler" class="cn.thextrader.device.tools.vm.jmx.impl.JmxConnectionHandler"  init-method="start" >
    	<property name="userJmxDao" ref="userJmxDao" />
    </bean>

	<bean id="jvmdebugConstant" class="cn.thextrader.monitor.Constant" init-method="validate">
		<property name="CACHESTORETIME" value="${cache.data.storetime}" />
		<property name="PREFIX" value="${cache.data.prefix}" />
	</bean>
</beans>